@model HerculesSystem.Models.sites

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", placeholder = "Name", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Address)
    </p>

    <p>
        @(Html.Kendo().DropDownListFor(m => m.ZoneID)
              .DataTextField("ZoneName")
              .DataValueField("ID")
              .HtmlAttributes(new { style = "width:170px" })
              .OptionLabel("Zone")
              .DataSource(source =>
                  {
                      source.Read(read =>
                      {
                          read.Action("GetZone", "Helper"); //Set the Action and Controller name
                      }); //If true the DataSource will not filter the data on the client.
                  })
        )
        @Html.ValidationMessageFor(x => x.ZoneID)

    </p>
    
    <p>
        @(Html.CheckBox("WithLogger")

        )
        @(Html.Label("Asociar con Logger"))

        @(Html.Kendo().MultiSelect()
           .Name("SelectedLogger")
            .DataTextField("LoggerSMS")
            .Enable(false)
            .DataValueField("ID")
            .Placeholder("Loggers List")
            .MaxSelectedItems(4)
            .HtmlAttributes(new { style = "width:170px" })
            .DataSource(source => 
            {
                source.Read(read =>
                    {
                        read.Action("GetOnlyLoggers", "Helper")
                         ;
                    });
                
            })
            .AutoBind(false)
        )

     

    </p>
   

    <p>
        @*@Html.TextAreaFor(model => model.Notes, new { @class = "form-control", placeholder = "Notes", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Notes)*@
    </p>

    <input type="submit" value="Create" class="btn btn-default" width="170" id="btnCreate" />

    <div id="map" style="width: 700px; height: 500px; " />
    @ViewBag.Javascript
}



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
<script type="text/javascript">
    


    $(document).ready(function () {
        var site = $("#SelectedLogger").data("kendoMultiSelect");

        $("#WithLogger").change(function () {
            var isChecked = $(this).is(':checked');
            site.enable(isChecked);
        });

    });

    var button = document.getElementById('imageButton');
    var div = document.getElementById('map');
    div.style.display = 'none'
    button.onclick = function () {
        var div = document.getElementById('map');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
            
        }
        else {
            div.style.display = 'block';
            initialize();
        }
    };

    function initialize() {
        // create the map

        var myOptions = {
            zoom: 3,
            center: new google.maps.LatLng(0.0, 0.0),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var options = {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        $.ajax({

            success: function () {

                google.maps.event.addListener(map, 'click', function (e) {

                    document.getElementById("LatEast").value = e.latLng.lat();
                    document.getElementById("LongNorth").value = e.latLng.lng();

                });
            }
        });

        map = new google.maps.Map(document.getElementById("map"),
                                    myOptions);

    }
   
                 


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}







