@using Hercules.Models

@{
    ViewBag.Title = "List";
}

<link href="@Url.Content("~/Content/Dashboard/List.css")" rel="stylesheet" type="text/css" />

<h2>Dashboard</h2>
<div>
    <div class="demo-section k-header">
            <h4>Filter</h4>
            <p>
                 @(Html.Kendo().DropDownList()
                    .Name("ZoneDropDownList") //The name of the dropdownlist is mandatory. It specifies the "id" attribute of the widget.
                    .DataTextField("ZoneName") //Specifies which property of the Product to be used by the dropdownlist as a text.
                    .DataValueField("ID") //Specifies which property of the Product to be used by the dropdownlist as a value.
                    .HtmlAttributes(new { style = "width:300px" })
                    .OptionLabel("Zone")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetZone", "Dashboard"); //Set the Action and Controller name
                        }) ; //If true the DataSource will not filter the data on the client.
                    })
                    
                 )
            </p>
            <p>
                @(Html.Kendo().DropDownList()
                .Name("SiteDropDownList") //The name of the dropdownlist is mandatory. It specifies the "id" attribute of the widget.
                .DataTextField("SiteName") //Specifies which property of the Product to be used by the dropdownlist as a text.
                .DataValueField("SiteID") //Specifies which property of the Product to be used by the dropdownlist as a value.
                .HtmlAttributes(new { style = "width:300px" })
                .OptionLabel("Sites")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetSites", "Dashboard") //Set the Action and Controller name
                        .Data("filterSites");
                    })
                    .ServerFiltering(true); //If true the DataSource will not filter the data on the client.
                })
                
                .Enable(false)
                .AutoBind(false)
                .CascadeFrom("ZoneDropDownList")
                )
            </p>
            <p>
               @(Html.Kendo().DropDownList()
                    .Name("LoggerDropDownList") //The name of the dropdownlist is mandatory. It specifies the "id" attribute of the widget.
                    .DataTextField("LoggerName") //Specifies which property of the Product to be used by the dropdownlist as a text.
                    .DataValueField("LoggerID") //Specifies which property of the Product to be used by the dropdownlist as a value.
                    .HtmlAttributes(new { style = "width:300px" })
                    .OptionLabel("Logger")
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetLogger", "Dashboard")//Set the Action and Controller name
                           .Data("filterLogger");
                        })
                        .ServerFiltering(true); //If true the DataSource will not filter the data on the client.
                    })
                    .Enable(false)
                    .AutoBind(false)
                    .CascadeFrom("SiteDropDownList")
                )
            </p>

         <input type="button" class="k-button k-primary" value="Filter" onclick="location.href='@Url.Action("FilterButton", "Dashboard")'" />
        </div>

    <div id="grid" class="grid">

        @(Html.Kendo().Grid<Hercules.Models.DataGridDashboard>()
            .Name("Dashboars")
            
            .Columns(c =>
            {
                c.Bound(p => p.LoggerSmSNumber).Title("Logger");
                c.Bound(p => p.AlarmText).Title("Alarm");
                c.Bound(p => p.MessageID).Title("Message");
                c.Command(command => command.Custom("View").Click("showDetails")).Title("Detail");
            })
            .DataSource(d => d
            .Ajax()
                            .Read(r => r.Action("GetAlarm", "Dashboard"))
            .ServerOperation(false)

            )
            .Sortable()
            .Filterable()
        )

    </div>

    <script type="text/javascript">
        var detailsTemplate = kendo.template($("#template").html());

        function showDetails(e) {
            e.preventDefault();
            window.location.href = "Detail";
        }

        function filterSites() {
            return {
                ZoneDropDownList: $("#ZoneDropDownList").val()
            };
        }
        function filterLogger() {
            return {
                SiteDropDownList: $("#SiteDropDownList").val()
            };
        }

        $(document).ready(function () {
            var zones = $("#ZoneDropDownList").data("kendoDropDownList"),
                sites = $("#SiteDropDownList").data("kendoDropDownList"),
                logger = $("#LoggerDropDownList").data("kendoDropDownList");
        });
    </script>
</div>


