@model HerculesSystem.Models.users
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("CreateLogger","Logger"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Forename", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </p>

    <p>
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Surname", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.LastName)
    </p>

    <p>
        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "User Name", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Username)
    </p>
    
    <p>
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Password)
    </p>

    <p>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Email)
    </p>

    <p>
        @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", placeholder = "Mobile", style = "width:170px" })
        @Html.ValidationMessageFor(model => model.Mobile)
    </p>

    <p>

        @(Html.Kendo().DropDownListFor(model => model.Role)
                .DataTextField("Description")
                .DataValueField("RoleId") 
                .HtmlAttributes(new { style = "width:170px" })
                .OptionLabel("User Level")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetLevel", "Helper");
                    }); 
                })
        )

    </p>

    <p>
        @(Html.CheckBoxFor(model => model.RecieveNotifications)

        )
        @(Html.Label("Enable Alarm Forwarding"))

        @(Html.Kendo().DropDownList()
                .Name("EmailFormat")
                .DataTextField("Text")
                .DataValueField("Value")
                .Enable(false)
                .HtmlAttributes(new { style = "width:170px" })
                .OptionLabel("Email Format")
                .BindTo(new List<SelectListItem>() {
                  new SelectListItem() {
                      Text = "DateGate",
                      Value = "1"
                  },
                  new SelectListItem() {
                      Text = "Format1",
                      Value = "2"
                  },
                  new SelectListItem() {
                      Text = "Format2",
                      Value = "3"
                  }
              })
        )

        @(Html.Kendo().DropDownList()
               .Name("SMSFormat")
               .DataTextField("Text")
                .DataValueField("Value")
                .Enable(false)
                .HtmlAttributes(new { style = "width:170px" })
                .OptionLabel("SMS Format")
                .BindTo(new List<SelectListItem>() {
                  new SelectListItem() {
                      Text = "DateGate",
                      Value = "1"
                  },
                  new SelectListItem() {
                      Text = "Format1",
                      Value = "2"
                  }
                 
              })
        )
    </p>

    <input type="submit" value="Create" class="btn btn-default" width="170" id="btnCreate" />
   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type="text/javascript">

        $(document).ready(function () {
            var email = $("#EmailFormat").data("kendoDropDownList");
            var sms = $("#SMSFormat").data("kendoDropDownList");

            $("#RecieveNotifications").change(function () {
                var isChecked = $(this).is(':checked');
                email.enable(isChecked);
                sms.enable(isChecked);
            });

        });

    </script>

}

